@import '@fontsource/poppins';

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-bg {
  background: linear-gradient(0deg, #6161FF -0.23%, rgba(255, 255, 255, 0) 187.21%);
}
.poppins-thin {
  font-family: "Poppins", sans-serif !important;
  font-weight: 100 !important;
  font-style: normal !important;
}

/* Logo animation */
@keyframes logo-float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.logo-animation {
  animation: logo-float 3s ease-in-out infinite;
}

/* Dots animation */
@keyframes fade-in-out {
  0%, 100% { opacity: 0.3; }
  50% { opacity: 1; }
}

.dot-animation {
  animation: fade-in-out 1.5s infinite;
}


